@use "./variable.scss" as v;

.App {
  .swiper-button-prev {
    left: 1rem;
    top: 50%;

    @include v.tablet {
      left: 2rem;
      top: 50%;
    }

    @include v.mobile {
      display: none;
    }

    @include v.miniMobile {
      display: none;
    }
  }
  .swiper-button-next {
    right: 1rem;
    top: 50%;

    @include v.tablet {
      right: 2rem;
      top: 50%;
    }
    @include v.mobile {
      display: none;
    }
    @include v.miniMobile {
      display: none;
    }
  }
}

.carouselItem {
  @include v.medidas(100%, 100%);
  display: flex;
  justify-content: center;
  aspect-ratio: 16;
  object-fit: contain;
  object-position: top;
  position: relative;

  a {
    @include v.medidas(100%, 100%);
    display: flex;
    justify-content: center;

    @include v.mobile {
      @include v.medidas(100%, 100%);
    }

    @include v.miniMobile {
      @include v.medidas(100%, 100%);
    }
  }
}

.carousellItemsImg {
  @include v.medidas(100%, 100%);
  aspect-ratio: 16;
  object-fit: contain;
  object-position: top;

  @include v.mobile {
    object-fit: contain;
  }

  @include v.miniMobile {
    object-fit: contain;
  }
}

[data-id="0"],
[data-id="3"] {
  position: absolute;
  bottom: 4rem;
  left: 10%;
  z-index: 20;
}

[data-id="1"],
[data-id="2"] {
  position: absolute;
  bottom: 4rem;
  right: 5rem;
}

.swiper {
  @include v.mobile {
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }

  @include v.miniMobile {
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
}

.mySwiperCarousel {
  padding-right: 0 !important;
}
