@use "./variable.scss" as v;

.postulantesMain {
  @include v.medidas(100%, 70vh);
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;

  h4 {
    display: flex;
    gap: 0.5rem;
  }

  input {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
    border: 1px solid transparent;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);

    &:focus {
      outline: none;
    }
  }

  &_postulante {
    @include v.medidas(100%, 100%);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 5rem;

    &-cand {
      @include v.medidas(20%, 100%);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        h4 {
          @include v.medidas(20%, 100%);
          display: flex;
          align-items: center;
          justify-content: start;
        }
        button {
          @include v.medidas(20%, 100%);
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            @include v.medidas(80%, 100%);
          }
        }
      }

      div,
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
      }

      button {
        cursor: pointer;
        background: none;
        border: none;
        box-shadow: none;
      }

      .verButton {
        &:hover {
          color: v.$colorBoderStart;
        }
      }
    }
    &-info {
      @include v.medidas(80%, 100%);
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
      border: 1px solid transparent;
      box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
      border-radius: 0.5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      form {
        @include v.medidas(100%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
      }

      a {
        text-decoration: underline;
        color: v.$colorBoderEnd;
      }

      input {
        @include v.medidas(20%, 2rem);
      }

      div {
        display: flex;
        gap: 2rem;
      }
      button {
        cursor: pointer;
      }

      .subirArchivoDiv {
        display: flex;
        flex-direction: column;
        gap: 0;
        input {
          @include v.medidas(100%, 2rem);
        }
      }
    }
  }
}
