@use "./variable.scss" as v;

.servicioBanner {
  @include v.medidas(100%, auto);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 0 0;

  h2 {
    font-size: 2.5rem;
    color: v.$colorPrimario;
  }

  @include v.tablet() {
    margin: 0rem 0 0 0;
  }

  @include v.mobile() {
    margin: 0 0 0 0;
  }

  @include v.miniMobile() {
    margin: -3rem 0 0 0;
  }

  &--logos {
    @include v.medidas(80%, auto);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0 3rem 0;

    @include v.tabletBig() {
      @include v.medidas(100%, auto);
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1rem 0 3rem 0;
    }

    @include v.tablet() {
      @include v.medidas(100%, auto);
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1rem 0 3rem 0;
    }

    @include v.mobile() {
      @include v.medidas(100%, auto);
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1rem 0 3rem 0;
    }

    @include v.miniMobile() {
      @include v.medidas(100%, auto);
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1rem 0 3rem 0;
    }

    div {
      @include v.medidas(16%, 18rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      border-radius: 1rem;
      padding: 2rem;
      text-align: center;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: v.$colorFontPrimario;
      cursor: pointer;

      @include v.tabletBig() {
        @include v.medidas(16%, 12rem);
        gap: 1rem;
        padding: 0.5rem;
        font-size: 0.8em;
      }

      @include v.tablet() {
        @include v.medidas(20%, 12rem);
        gap: 1rem;
        padding: 0.5rem;
        font-size: 0.8em;
      }

      @include v.mobile() {
        @include v.medidas(45%, 12rem);
        gap: 1rem;
        padding: 0.5rem;
        font-size: 0.8em;
      }

      @include v.miniMobile() {
        @include v.medidas(45%, 8rem);
        gap: 1rem;
        padding: 0.5rem;
        font-size: 0.8em;
      }

      &:hover {
        background-color: v.$colorSecundario;
        color: v.$colorFontPrimario;
        transition: all 0.3s ease;

        ion-icon {
          color: v.$colorFontPrimario;
          transition: all 0.3s ease;
        }
        svg {
          color: v.$colorFontPrimario;
          transition: all 0.3s ease;
        }
      }
    }
  }

  a {
    font-size: 2rem;
    color: v.$colorPrimario;
    text-align: center;

    button {
      @include v.medidas(100%, 100%);
    }
  }

  svg {
    @include v.medidas(5rem, 5rem);
    color: v.$colorSecundario;
  }

  ion-icon {
    @include v.medidas(5rem, 5rem);
    color: v.$colorSecundario;
  }
  img {
    @include v.medidas(70%, auto);
  }
}
