@use "./variable.scss" as v;

.customSwiper {
  @include v.mobile() {
    display: none;
  }
}
.customSwiperMobile {
  display: none;
  @include v.mobile() {
    display: block;
  }
}

.testimonios {
  @include v.medidas(100%, 33rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  h2 {
    margin-bottom: 1rem;
    @include v.fonts("Julius Sans One", 400);
    color: v.$colorPrimario;
  }

  @include v.tabletBig() {
    @include v.medidas(100%, 33rem);
  }

  @include v.tablet() {
    @include v.medidas(100%, 35rem);
  }

  @include v.mobile() {
    @include v.medidas(100%, 33rem);
    padding: 0 1rem;
  }

  @include v.miniMobile() {
    @include v.medidas(100%, 25rem);
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include v.tabletBig() {
      display: block;
    }

    @include v.tablet() {
      display: none;
    }

    @include v.mobile() {
      display: block;
    }
  }

  &--empresas {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;

    div {
      @include v.medidas(25%, 100%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem;
      text-align: center;
      background-color: v.$colorFontPrimario;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    }
  }
}

.swiper {
  padding-bottom: 2rem;
  margin-top: 2rem;
  padding-right: 50px;

  @include v.miniMobile() {
    padding-right: 0px;
  }
}

.swiper-wrapper {
  @include v.medidas(100%, 100%);
}

.swiper-button-prev {
  left: -20px;
  top: 60%;

  @include v.tabletBig() {
    left: 15px;
    top: 60%;
  }

  @include v.mobile() {
    left: 15px;
    top: 60%;
  }

  @include v.miniMobile() {
    left: 3px;
    top: 60%;
  }
}

.swiper-button-next {
  right: -30px;
  top: 60%;

  @include v.tabletBig() {
    right: 15px;
    top: 60%;
  }

  @include v.mobile() {
    right: 15px;
    top: 60%;
  }

  @include v.miniMobile() {
    right: 3px;
    top: 60%;
  }
}

.testimoniosDiv {
  @include v.medidas(110%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  h3 {
    @include v.fonts("Julius Sans One", 400);
  }

  img {
    border-radius: 100%;
  }

  @include v.tablet() {
    gap: 0;
    padding-top: 0.5rem;
  }

  @include v.mobile() {
    gap: 0;
    padding-top: 0.5rem;
  }
  @include v.miniMobile() {
    @include v.medidas(100%, 100%);
    gap: 0;
    padding-top: 0.5rem;
  }
}
