// Variables

$colorFontPrimario: #ffffff;
$colorFontSecundario: #025e7e;
$colorPrimario: #00425d;
$colorSecundario: #005a7c;
$colorTerciario: #2bb091;
$colorBoderStart: #2cb192;
$colorBoderEnd: #015c7e;

// $colorTerciario:#fdfffa;

//"Julius Sans One" 400 //"Inter"
@mixin fonts($font, $weight) {
  & {
    font-family: $font, sans-serif;
    font-weight: $weight;
    font-optical-sizing: auto;
  }
}

@mixin medidas($width, $height) {
  width: $width;
  height: $height;
}

@mixin desktop {
  @media only screen and (max-width: 1536px) {
    @content;
  }
}

@mixin tabletBig {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin miniMobile {
  @media only screen and (max-width: 575px) {
    @content;
  }
}
