@use "./styles/variable.scss" as v;

.appMain {
  @include v.medidas(100%, auto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5rem 0 0 0;

  @include v.mobile() {
    padding-top: 6rem;
  }
}

.buscasTrabajoMendoza {
  @include v.medidas(100vw, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 5rem;
  margin-top: 2rem;
  color: v.$colorPrimario;
  gap: 1rem;

  @include v.tabletBig() {
    padding: 0 2rem;
  }
  @include v.mobile() {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2.5rem;
    color: v.$colorPrimario;

    @include v.tablet() {
      font-size: 2.2rem;
    }

    @include v.mobile() {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.4rem;
    padding: 0 8rem;
    font-family: Arial, Helvetica, sans-serif;

    @include v.tabletBig() {
      padding: 0 2rem;
    }
    @include v.tablet() {
      padding: 0 1rem;
    }
    @include v.mobile() {
      padding: 0;
    }
  }

  a {
    @include v.medidas(40%, 100%);
    font-size: 1.5rem;

    @include v.tabletBig() {
      @include v.medidas(80%, 100%);
    }

    @include v.tablet() {
      @include v.medidas(80%, 100%);
    }

    @include v.mobile() {
      @include v.medidas(100%, 100%);
    }

    button {
      @include v.medidas(100%, 100%);
      cursor: pointer;
    }
  }
}

.crecemosConVos {
  @include v.medidas(100vw, 100%);
  display: flex;
  justify-content: flex-start;
  color: v.$colorPrimario;
  position: relative;
  padding: 0 5rem;

  @include v.tablet() {
    @include v.medidas(100vw, 100%);
    padding: 0 1rem;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  @include v.mobile() {
    @include v.medidas(100vw, 100%);
    padding: 0 1rem;
    justify-content: center;
    margin-top: 2rem;
  }

  img {
    @include v.medidas(50%, 100%);
    max-width: 30rem;
    position: absolute;
    right: 5rem;
    top: 0;

    @include v.tablet() {
      @include v.medidas(60%, 100%);
      max-height: 110%;
      position: absolute;
      right: 1rem;
      top: 0;
    }

    @include v.mobile() {
      display: none;
    }
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    width: 70%;
  }
  p {
    // @include v.medidas(50%, 100%);
    font-size: 1.2rem;
  }

  .infoContainer {
    @include v.medidas(50%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    position: relative;
    gap: 1rem;

    h2 {
      font-size: 2rem;

      @include v.mobile() {
        align-self: center;
        gap: 1rem;
      }
    }

    @include v.tablet() {
      @include v.medidas(40%, 100%);
      gap: 1rem;
    }

    @include v.mobile() {
      @include v.medidas(100%, 100%);
      gap: 1rem;
    }

    div {
      @include v.medidas(100%, 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      @include v.mobile() {
        text-align: center;
      }

      h3 {
        @include v.medidas(100%, 20%);
      }
    }
  }
}
