@use "./variable.scss" as v;

.bolsaDeTrabajoPageBanner {
  @include v.medidas(100%, 35rem);
  padding-top: 5rem;
  margin-bottom: 2rem;

  img {
    @include v.medidas(100%, 100%);
    object-fit: contain;
    object-position: top;
    aspect-ratio: 16;
  }
}

.bolsaDeTrabajoPageTrabajos {
  @include v.medidas(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  gap: 2rem;

  a {
    @include v.medidas(10%, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: v.$colorPrimario;
    color: v.$colorFontPrimario;
    border-radius: 0.5rem;
  }
}

.bolsaDeTrabajoPageItem {
  @include v.medidas(100%, 5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
  padding: 0 2rem;
}
