@use "./variable.scss" as v;

.bolsaDeTrabajoPageBanner {
  @include v.medidas(100%, 25rem);
  margin-bottom: 2rem;

  img {
    @include v.medidas(100%, 100%);
    object-fit: fill;
    object-position: top;
  }
}

.bolsaDeTrabajoPageTrabajos {
  @include v.medidas(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  gap: 2rem;
}

.bolsaDeTrabajoPageItem {
  @include v.medidas(100%, 5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
  padding: 0 2rem;
}
