@use "./variable.scss" as v;

.bolsaDeTrabajoItemPageBanner {
  @include v.medidas(100%, 35rem);
  padding-top: 5rem;
  margin-bottom: 2rem;

  img {
    @include v.medidas(100%, 100%);
    object-fit: contain;
    object-position: top;
    aspect-ratio: 16;
  }
}

.bolsaDeTrabajoItemMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: v.$colorSecundario;
  gap: 1rem;
  padding: 0 0 5rem 0;

  h2 {
    font-size: 2rem;
  }

  &-info {
    @include v.medidas(60%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  form {
    @include v.medidas(60%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    div {
      @include v.medidas(100%, 100%);
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
      }
    }
    span {
      @include v.medidas(30%, 100%);
    }
    input,
    textarea {
      @include v.medidas(100%, 100%);
      padding: 0.5rem;
      border-radius: 0.5rem;
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
      border: 1px solid transparent;
      box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
      color: v.$colorPrimario;

      &:focus {
        outline: none;
      }
    }

    textarea {
      @include v.medidas(100%, 15rem);
      min-height: 10rem;
      max-height: 20rem;
    }

    #curriculum {
      padding: 0;
      border-radius: 0;
      background: none;
      border: none;
      box-shadow: none;
      color: v.$colorPrimario;
    }

    input::file-selector-button {
      font-weight: bold;
      color: v.$colorPrimario;
      padding: 0.5em;
      border: 1px solid grey;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      @include v.medidas(15%, 3rem);
      background: v.$colorPrimario;
      color: v.$colorFontPrimario;
      border-radius: 0.3rem;
    }
  }
}

.bolsaDeTrabajoItemMain-info {
  h2 {
    text-transform: uppercase;
  }

  &_ubicacion,
  &_modalidad {
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }

  &_responsabilidades,
  &_requisitos {
    width: 60%;
    padding-top: 1rem;

    p {
      font-weight: bold;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    li {
      list-style-type: disc;
    }
  }
}
