@use "./variable.scss" as v;

.candidatosPanel {
  @include v.medidas(100%, 90vh);
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;

  &-searchInput {
    @include v.medidas(20%, 3rem);
  }

  h4 {
    display: flex;
    gap: 0.5rem;
  }

  input {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
    border: 1px solid transparent;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);

    &:focus {
      outline: none;
    }
  }

  &_candidatos {
    @include v.medidas(100%, 100%);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 5rem;

    &-cand {
      @include v.medidas(20%, 100%);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      button {
        @include v.medidas(100%, 10%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          color: v.$colorBoderStart;
        }
      }
    }

    &-candPanel {
      @include v.medidas(100%, 80%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0rem 1rem 0rem;
      border-radius: 0.5rem;
      gap: 1rem;
      overflow-y: scroll;

      div {
        @include v.medidas(100%, 4rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
        border-radius: 0.5rem;
        padding: 1rem;
      }

      button {
        @include v.medidas(10%, 4rem);
        background: none;
        border: none;
      }
    }

    &-info {
      @include v.medidas(80%, 30rem);
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to top, v.$colorBoderStart, v.$colorBoderEnd) border-box;
      border: 1px solid transparent;
      box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.5);
      border-radius: 0.5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      form {
        @include v.medidas(100%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
      }

      a {
        text-decoration: underline;
        color: v.$colorBoderEnd;
      }

      input {
        @include v.medidas(20%, 2rem);
      }

      div {
        display: flex;
        gap: 2rem;
      }
      button {
        cursor: pointer;
      }

      .subirArchivoDiv {
        display: flex;
        flex-direction: column;
        gap: 0;
        input {
          @include v.medidas(100%, 2rem);
        }
      }
    }
  }
}
