@use "./variable.scss" as v;

.servicioPageBanner {
  @include v.medidas(100%, 25rem);
  margin-bottom: 2rem;

  img {
    @include v.medidas(100%, 100%);
    object-fit: fill;
    object-position: top;
  }
}

.servicioPageMain {
  @include v.medidas(100%, 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
